In [10]:
x = 5
y = 10
print x,y

5 10

In [11]:
x = 10 
y = 20
z = x + y
print z

30

In [12]:
a = 5
b = 6
c = a + b
print c

11

In [13]:
Greeting = "Hello"
Greeting

'Hello'

In [14]:
Person = "Oscar"
Person

'Oscar'

In [15]:
personalGreeting= Greeting+" "+Person
personalGreeting

'Hello Oscar'

In [16]:
person = "Sam Walton"
print('Hello', person)

('Hello', 'Sam Walton')

In [ ]:
person = input('Enter your name: ')
print('Hello', person)

In [1]:
age = int(input('Enter your age: '))
print("Age", age)

Enter your age: 35
('Age', 35)

In [2]:
student1_age=int(input("Enter student 1 age:"))
student2_age=int(input("Enter student 2 age:"))
if student1_age == student2_age:
    print "student 1 and student 2 have the same age"
else:
    print "student 1 and student 2 have different ages"

Enter student 1 age:35
Enter student 2 age:35
student 1 and student 2 have the same age

In [3]:
number=10
number

10

In [4]:
float(number)/4

2.5

In [5]:
newNumber=number%4
newNumber

2

In [6]:
number=101.35
number

101.35

In [7]:
float(number)/4

25.3375

In [8]:
float(number)//4

25.0

In [9]:
newNumber=number%4
newNumber

1.3499999999999943

In [10]:
myAge=21
myAge

21

In [11]:
yourAge=25
yourAge

25

In [12]:
result= (myAge==yourAge)
result

False

In [13]:
hisAge=25
hisAge

25

In [14]:
myAge==yourAge

False

In [15]:
myAge==hisAge

False

In [16]:
yourAge==hisAge

True